<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="css/common.css"
    />
  </head>
  <body>
    <footer>
      <div>Copyright 2024 ＭＥＴＡＴＥＡＭ株式会社</div>
    </footer>
  </body>
</html>
