<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="css/common.css"
    />
  </head>
  <body>
    <div>
      <div class="header">
        <label class="account" for="menu1"
          ><img
            class="user_icon"
            src="images/icons/user.png"
          />
          <span>管理者</span
          ><img
            class="under_arrow"
            src="images/icons/under_arrow.png"
          />
        </label>
      </div>

      <div class="menu_container">
        <input type="checkbox" id="menu1" class="on-off" />
        <div class="menu">
          <form action="/logout" method="post">
            <img
              class="logout"
              src="images/icons/logout.png"
            />
            <input
              class="submit_btn"
              type="submit"
              name="logout"
              value="ログアウト"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
