<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/common.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="app_name">MT書籍管理</div>
      <div id="sidebar_menu">
        <details class="menu_inner">
          <summary class="menu_item">
            <a class="menu_link" href="/book/index"
              ><img src="images/icons/book.png" alt="book" />書籍一覧</a
            >
          </summary>
          <div class="menu_item second">
            <a class="menu_link" href="/book/add">書籍登録</a>
          </div>
        </details>
        <details class="menu_inner">
          <summary class="menu_item">
            <a class="menu_link" href="/stock/index"
              ><img src="images/icons/stock.png" alt="stock" />在庫一覧</a
            >
          </summary>
          <div class="menu_item second">
            <a class="menu_link" href="/stock/add">在庫登録</a>
          </div>
        </details>
        <div class="menu_item">
          <a class="menu_link" href="/stock/calendar"
            ><img
              src="images/icons/calendar.png"
              alt="calendar"
            />在庫カレンダー</a
          >
        </div>
        <details class="menu_inner">
          <summary class="menu_item">
            <a class="menu_link" href="/rental/index"
              ><img src="images/icons/rental.png" alt="book" />貸出一覧</a
            >
          </summary>
          <div class="menu_item second">
            <a class="menu_link" href="/rental/add">貸出登録</a>
          </div>
        </details>
      </div>
    </div>
  </body>
</html>
